/* poppins font css link */
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat&family=Poppins:wght@300;400;500;600;700;800&family=Work+Sans:ital,wght@0,400;0,600;0,800;1,300;1,600;1,700&display=swap');
/* css reseat */
*{
     margin: 0;
    padding: 0; 
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 85%;
    margin: auto;
}
a{
    text-decoration: none;
}
/* header part css */
header{
    width: 100%;
    height: 100vh;
    background: red; 
}

ul{
    list-style: none;
    display: flex;
    gap: 25px;
}
ul li a{
    font-size: 18px;
    text-transform: capitalize;
    color: #333;
}
.mobile-bar .bx-bar-chart {
    font-size: 30px;
    cursor: pointer;
}
.logo{
    font-size: 25px;
    text-transform: capitalize;
}
nav{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;  
}
.menubar{
    display: flex;
    gap: 25px;
    align-items: center;
}
.bx{
   font-size: 20px;
   margin-top: 5px;
}
.menubar .sopping-cart .bx{
    font-size: 23px;
    cursor: pointer;
     padding: 2px 0; 
}
/* banner part */
.banner{
    height:calc( 100% - 80px);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("img/images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-position: right; 
    background-size: 400px;
}
.contant .title{
    font-size: 30px;
    font-weight: 600;
}
.contant .decription p{
    font-size: 20px;
    font-weight: 500;
    color: #333;
    line-height: 25px;
    margin: 20px 0 30px;
}
.btn-btn .btn button{
    font-size: 18px;
    font-weight: 400;
    padding: 10px 30px;
    border: 0;
    border-radius: 40px;
    background-color: rgb(243, 78, 111);
}

/* header part end */
/* main part */
section{
    margin: 100px;
}
.brand-comparny{
  border: 1px solid #333;
  padding: 10px 0;
  border-left: 0;
  border-right: 0;
 
}
.barnd-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    gap: 20px; 
}

/* responsive */
@media (max-width:1050px){
    .contant .title{
        font-size: 25px;
        font-weight: 600;
    }
}
/* .bx-bar-chart{
     display: none; 
}  */
@media (max-width:992px){
    
    .banner{
       flex-direction: column;
       justify-content: center;
       align-items: center;
       background-position: top center; 
       text-align: center;
    }
    .logo{
        font-size: 20px;
    }
    .menubar ul li a{
        font-size: 14px;
        
    }
    .contant .decription p{
        font-size: 20px;
    }
    .contant {
        order: 2;
        margin-top: 70px;
    }
    .contant img{
        order: 1;
    }
    .btn-btn{
      display: flex;
      justify-content: center;  
    } 
    .img img{
        width: 100%;
        align-items: center;
        justify-content: flex-start;
    }
     /* .brand-comparny{
        margin-top: 250px;
    }   */
}
 /* responsive 768px */
@media (max-width:768px){
    .menubar ul{
        display: none; 
    }
   .bx-bar-chart{
    display: block;
   }
 .img img{
    width: 100%;
   }
   .btn-btn{
    display: flex;
    /* justify-content: flex-start; */
  
  }
  .btn-container .btn{
    font-size: 16px;
  
} 

}
/* responsive 576px  */
@media(max-width:576px){
    .logo{
        font-size: 15px
    }
  .banner{
   background-position: top;
   max-height: 100vh;

  }
 
  .btn-container .btn{
        font-size: 10px; 
    } 
}
  .contant h2 {
    font-size: 20px;
}
.contant .decription p{
    font-size: 12px; 
}



