/* poppins font css link */
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat&family=Poppins:wght@300;400;500;600;700;800&family=Work+Sans:ital,wght@0,400;0,600;0,800;1,300;1,600;1,700&display=swap');
/* css reseat */
*{
     margin: 0;
    padding: 0; 
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 85%;
    margin:0 auto;
}
a{
    text-decoration: none;
}
/* header part css */
header{
    width: 100%;
    height: 100%;
}

ul{
    list-style: none;
    display: flex;
    gap: 25px;
}
ul li a{
    font-size: 18px;
    text-transform: capitalize;
    color: #333;
}
.mobile-bar .bx-bar-chart {
    font-size: 30px;
    cursor: pointer;
}
.mobile-bar{
    display: none;
}
.logo{
    font-size: 25px;
    text-transform: capitalize;
}
nav{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;  
}
.menubar{
    display: flex;
    gap: 25px;
    align-items: center;
}
.bx{
   font-size: 20px;
   margin-top: 5px;
}
.menubar .sopping-cart .bx{
     font-size: 23px;
     cursor: pointer;
     padding: 2px 0; 
}
/* banner part */
.banner{
    max-height: 100%-60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("img/images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-position: right; 
    background-size: 400px;
   
}
.contant .title{
    font-size: 30px;
    font-weight: 600;
}
.contant .decription p{
    font-size: 20px;
    font-weight: 500;
    color: #333;
    line-height: 25px;
    margin: 20px 0 30px;
}
.btn-btn .btn button{
    font-size: 18px;
    font-weight: 400;
    padding: 10px 30px;
    border: 0;
    color: aliceblue;
    border-radius: 40px;
    background-color: rgb(243, 78, 111);
}
/* header part end */
/* main part */
/* brand comparny name css */
.brand-comparny{
    margin: 60px 0 0;
    border: 1px solid #333;   
    border-left: 0;
    border-right: 0;
    padding: 20px 0;
}

.brand-name{
    /* margin: 60px 0;  */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
/* product section css */
.product-section{
    margin: 60px 0;
}
.product-section-title{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 40px;
}
  figure img{
    width: 100%;
}  
.product-item{
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 10px;
}
 .product-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  gap: 40px;
} 
figcaption{
    font-size: 20px;
}
.price{
    font-size: 16px;
    font-weight: 400;
    margin: 6px 0;
}
.rating .bx{
    color: tomato;
    font-size: 16px;
}
.rating span{
 font-size: 15px;
 margin-left: 10px;
}
.product-decription p{
     font-size: 12px; 
     font-weight: 400;
     line-height: 20px;
}
/* featured products css */
#featured{
    margin: 80px 0;
}
.featured-container{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-gap: 70px;
    align-items: center;
}
.featured-item{
    grid-column: span 4;
}
 .featured-product{
    grid-column: span 3;
}
.img-item img{
    width: 100%;
}
.featured-product .featured-title{
    font-size: 30px;
    font-weight: 600;
}
.featured-product .featred-decription{
    font-size: 16px;
    font-weight: 400;
    margin: 15px 0 30px;
}
/* footer part */
footer{
    background-color: rgb(44, 44, 80);
    color: #fff;
    text-align: center;
    padding: 60px 0;
}
footer a{
    color: #fff;
}
/* responsive */
@media (max-width:1050px){
    .contant .title {
        font-size: 25px;
        font-weight: 600;
    }
    .contant .decription p {
        font-size: 16px;
        line-height: 22px;
        margin: 14px 0 25px;
    }
    .featured-product .featured-title {
        font-size: 25px;
    }
    .featured-product .featred-decription {
        font-size: 13px;
    }
     
}
  @media (max-width:992px){
    .banner{
        flex-direction: column;
        text-align: center;
        background-position: top center;
    } 
    .logo {
        font-size: 20px;
        text-transform: capitalize;
    }
    ul li a{
        font-size: 15px;
       
    }
    
    .contant{
        order: 2;
        margin-top: 20px;
    }
    .img{
        order: 1;
    }
    .featured-container {
        grid-template-columns: 1fr; 
    }
    .featured-container {
         grid-gap: 50px 0; 
    }
}
@media (max-width:768px){
    ul{
        display: none;
    }
    .mobile-bar{
        display: block;
    }
    .menubar .sopping-cart .bx{
        font-size: 30px;  
   }
   .img img{
    width: 100%;
   }  
}
@media (max-width:576px){
    .logo {
        font-size: 15px;
    }
    .contant .title {
        font-size: 20px;
    }
    .contant .decription p {
        font-size: 13px;
        line-height: 16px;
        margin: 14px 0 20px;
    }
    .btn-btn .btn button {
        font-size: 15px;
        padding: 6px 25px;
    }
   .banner{
    background-size:350px ;
   }
   .item img{
    width: 60px;
   }
   .featured-product .featured-title {
    font-size: 20px;
}
}
